

/*--.title{
  text-align: center;
  font-size: 35px;
  font-family: 'times';
  text-transform: uppercase;
  margin: 1px;
  padding: 1px;
}*/

.title
{color: black;
padding: 30px;
text-align: center;
}

.text
{color: black;
text-align: center;
}

.format1
{
  width: 50px;
}

.format2
{
  width: 70px;
}

.format3
{
  width: 60px;
}

table{
  width: 200px;
  height:150px;
  overflow-y: scroll;
}

/* The navbar container */
.topnav {
  text-align: center;
  font-size: 35px;
  font-family: 'times';
  text-transform: uppercase;
  overflow: hidden;
  background-color: white;
  width: 990px;

}

/* Navbar links */
.topnav a{
  float: left;
  display: block;
  text-align: center;
  width: 33%;
  text-decoration: none;
  color: white;
}

.topnav a.I{
  float: left;
  display: block;
  text-align: center;
  width: 33%;
  text-decoration: none;
  background-image: url("I.jpg");
  padding: 100px 0;
  margin:0px 0;
}
.topnav a.I:hover {
  background-image: url("I2.jpg");
  color: black;}

.topnav a.O{
  float: left;
  display: block;
  text-align: center;
  width: 33%;
  text-decoration: none;
  background-image: url("O.jpg");
  padding: 100px 0;
  margin:0px 0;}

.topnav a.O:hover {
    background-image: url("O2.jpg");
    color: black;}

.topnav a.W{
    float: left;
    display: block;
    text-align: center;
    width: 33%;
    text-decoration: none;
    background-image: url("W.jpg");
    padding: 100px 0;
    margin:0px 0;}

/* Links - change color on hover */
.topnav a.W:hover {
  background-image: url("W2.jpg");
  color: black;}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  padding: 0px;
}

.column.side {
  width: 0%;
}

.column.middle {
  width: 0%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding:0px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
