

/*--.title{
  text-align: center;
  font-size: 35px;
  font-family: 'times';
  text-transform: uppercase;
  margin: 1px;
  padding: 1px;
}*/
/* css styles*/
.title
{color: black;
padding: 10px;
text-align: center; /* set text at the center */
}

.text
{color: black;
text-align: center;
}

/* The navbar container */
.topnav {
  text-align: center;
  font-size: 35px;
  font-family: 'times';
  text-transform: uppercase;
  overflow: hidden;
  background-color: white;
  width: 990px;

}

/* Navbar links */
.topnav a{
  float: left;
  display: block;
  text-align: center;
  width: 33%;
  text-decoration: none;
  color: white;
}

.topnav a.I{
  float: left;
  display: block;
  text-align: center;
  width: 33%;
  text-decoration: none;
  background-image: url("I.jpg"); /* navbar image*/
  padding: 100px 0;
  margin:0px 0;
}
.topnav a.I:hover /* navbar image substitution */{
  background-image: url("I2.jpg");
  color: black;}

.topnav a.O{
  float: left;
  display: block;
  text-align: center;
  width: 33%;
  text-decoration: none;
  background-image: url("O.jpg");
  padding: 100px 0;
  margin:0px 0;}

.topnav a.O:hover {
    background-image: url("O2.jpg");
    color: black;}

.topnav a.W{
    float: left;
    display: block;
    text-align: center;
    width: 33%;
    text-decoration: none;
    background-image: url("W.jpg");
    padding: 100px 0;
    margin:0px 0;}

.topnav a.W:hover {
  background-image: url("W2.jpg");
  color: black;}

.center{
  text-align:center;
}
/* Create three columns that floats next to each other */
.column {
  float: left;
  width: 10%;
  height: 100px;
  padding: 5px;
  text-align:
  overflow:scroll;
}

.column.middle {
  width: 43%;
  height: 100px;
  padding: 10px;
  overflow:scroll;
}

.column.side {
  float:left;
  width: 43%;
  height: 100px;
  padding: 10px;
  overflow:scroll;
}

.Citation
{text-align: left}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding:0px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
