.head /* NOTE: style for the home page title*/
{text-align: center;
color: #fec658;
font-size: 25;}

.title /* NOTE: style for the introduction titles */
{text-align: center;
color: black;
font-size: 25;}

.title1 /* NOTE: style for different kinds of introduction titles */
{text-align: left;
color: black;
font-size: 25;}

.title2 /* NOTE: style for different kinds of introduction titles */
{text-align: center;
color: white;
font-size: 25;}

.text
{color: #fabeb0;
font-weight: bold;
text-decoration: underline;
text-decoration-style: dotted;

}
.paragraph
{color: white;}

.blink_me /* NOTE: animation */{
  animation: blinker 5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.navbar /* NOTE: navigation */{
  overflow: hidden;
  background-color: #edecf3;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: Black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #594484;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.citation /* NOTE: scroll the page to see citations */{
  overflow:scroll;
}
